@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Handlee&display=swap");
.profile-img {
  max-width: 80%;
  justify-self: end;
}

.profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.profile-text {
  padding-left: 1rem;
  justify-self: center;
  max-width: 50vw;
}

.headline {
  font-family: "Handlee", cursive;
  font-size: 3rem;
}

.profile-content {
  font-family: "Amiri", serif;
  font-weight: lighter;
  font-size: 1.5rem;
}

.edit-profile-button,
.save-profile-button {
  background-color: #72b340;
  padding: 1rem;
  border-radius: 10px;
  border: none;
}

.edit-profile-button:hover,
.save-profile-button:hover {
  cursor: pointer;
  background-color: #f5b8d2;
  color: black;
}

.edit-profile-button,
.save-profile-button {
  color: #ffffff;
  text-decoration: none;
  font-family: "Handlee", cursive;
  font-weight: bold;
  font-size: 1.3rem;
}

.edit-mode {
  border-bottom: 2px solid #f5b8d2;
  border-color: #f5b8d2;
}
