.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;
}

.empty-message {
    font-size: 18px;
    margin: 50px auto;
}

.cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

button {
    margin-top: auto;
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;
    min-width: 165px;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
        font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    
}

button:hover{
    opacity: 0.85;
    display: flex;
    background-color: white;
    color: black;
    border: 1px solid black;
}