.nav-items li {
  list-style-type: none;
  color: #ffffff;
  padding-right: 1rem;
  margin-right: 4rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.nav-items a {
  text-decoration: none;
}

.nav-items li:hover {
  border-bottom: 3px solid #F5B8D2;
}

.nav-items nav ul {
  display: flex;
  align-content: center;
  justify-content: center;
}

.logo {
  max-width: 50%;
}

.logo:hover {
  cursor: pointer;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(73, 72, 72);
  align-content: center;
  width: 100%;
  border-bottom: 1px solid #c2c1c1;
}

.shopping-bag {
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: 2rem;
}

.shopping-bag:hover {
  cursor: pointer;
  color: #F5B8D2;
}