.nav-items li {
  list-style-type: none;
  color: #ffffff;
  padding-right: 4rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.nav-items nav ul {
  display: flex;
  align-content: center;
  justify-content: center;
}

.logo {
  width: 7%;
  height: 7%;
}

.main-nav {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(73, 72, 72);
  align-content: center;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #c2c1c1;
}

.shopping-bag {
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: 2rem;
}
