.shop-item {
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;
}

.image {
  width: 100%;
  height: 95%;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
}

.image:hover {
  opacity: 0.8;
}
.card-footer {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.name {
  width: 90%;
  margin-bottom: 15px;
}

.price {
  width: 10%;
}

.add-btn {
  width: 80%;
  opacity: 0.7;
  position: absolute;
  top: 255px;
  display: none;
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.add-btn:hover {
  opacity: 0.85;
  display: flex;
  background-color: black;
  color: white;
  border: 1px solid black;
}
