.item-preview {
  display: grid;
  margin-bottom: 30px;
}

.title {
  font-size: 28px;
  margin-bottom: 25px;
  justify-self: center;
}

.preview {
  display: flex;
  justify-content: space-evenly;
}
