@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");

body {
  background-color: #ffffff;
  width: 100%;
  display: grid;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
